.tag {
  background-color: #ff6060;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  border-radius: 10px;
  margin-right: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 24px;
}

.tag-text {
  color: white;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .tag {
    height: 18px;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .tag-text {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
  }
}